$neon_red: #FF0000;
$black: #000000;
$white: #FFFFFF;
$primaryFont : 'Lora', serif;
$secondaryFont : 'Poppins', sans-serif;

$breakpoints : (
        "phone" : 480px,
        "tablet" : 720px,
        "large-tablet" : 1220px
);

@mixin flexColumn($align , $justify) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
}
@mixin flexRow($align , $justify) {
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $justify;
}
@mixin  phone{
  @media(max-width : map-get($breakpoints, "phone")){

    @content;
  }
}
@mixin  tablet{
  @media(max-width : map-get($breakpoints, "tablet")){
    @content;
  }
}
@mixin  large-tablet{
  @media(max-width : map-get($breakpoints, "large-tablet")){
    @content;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

