@import url(https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Poppins&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

body {
  background-color: rgba(20, 39, 113, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
}
.navbar .navbar__logo {
  width: 80px;
  height: auto;
  margin-left: 25px;
}
.navbar .navbar__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}
@media (max-width: 480px) {
  .navbar .navbar__links {
    width: 50%;
  }
}
.navbar .navbar__links .navbar__item a {
  color: black;
}
.navbar .navbar__links .navbar__item form input {
  border: none;
  background-color: white;
  text-decoration: underline;
  cursor: pointer;
}

.post__authorImage {
  width: 25px;
  height: 25px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 0, 0, 0.13);
  color: black;
  width: 100%;
}
footer .container {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .container .logo img {
  width: 80px;
}
@media (max-width: 720px) {
  footer .container .logo {
    display: none;
  }
}
footer .container .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .container .links .link {
  display: flex;
  flex-direction: column;
  margin: 0 6%;
}
footer .container .links .link p {
  margin: 5% 0;
  font-size: 12px;
}
@media (max-width: 720px) {
  footer .container .links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
footer .container .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .container .contact .socials {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
footer .container .contact .socials img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
footer .container .contact a {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 26px;
  background-color: #FF0000;
  border-radius: 99px;
  margin: 2.5%;
  text-align: center;
}
@media (max-width: 720px) {
  footer .container {
    height: 30vh;
  }
}
footer .copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #c1c1c1;
  margin-bottom: 10px;
  font-size: 8px;
}

.demand {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.demand__add {
  margin-top: 30px;
  width: 70%;
  background-color: white;
  margin-bottom: 20px;
  height: 260px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.demand__add form {
  width: 90%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.demand__add form label {
  font-size: 16px;
}
.demand__add form input {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #c1c1c1;
}
.demand__add form input[type=submit] {
  margin-top: 10px;
  background-color: #FF0000;
  color: white;
  border: none;
}
@media (max-width: 480px) {
  .demand__add {
    width: 100%;
  }
}
.demand__header {
  text-align: center;
}
.demand__title {
  font-size: 54px;
  font-weight: bold;
  color: #FF0000;
}
.demand__paragraph {
  font-size: 20px;
}
.demand__posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.demand__posts .post {
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 30px 20px;
  margin-bottom: 20px;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.demand__posts .post__authorImage {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.demand__posts .post__authorImage img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}
.demand__posts .post__authorJoined {
  margin-bottom: 10px;
}
.demand__posts .post__authorInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
}
.demand__posts .post__authorName {
  font-size: 20px;
}
.demand__posts .post__more {
  margin-left: auto;
  color: #FF0000;
  text-decoration: underline;
  cursor: pointer;
}
.demand__posts .post__title {
  font-size: 16px;
}
.demand__posts .post__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.demand__posts .post__authorContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  position: relative;
}
.demand__posts .post__authorContainer .update-delete {
  background-color: lightgray;
  position: absolute;
  top: 20px;
  right: 0;
  width: 100px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  border-radius: 10px;
}
.demand__posts .post__authorContainer .update-delete.active {
  transform: scale(1);
}
.demand__posts .post__authorContainer .update-delete form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.demand__posts .post__authorContainer .update-delete form button {
  background-color: transparent;
  width: 80px;
  height: 30px;
  border: none;
  text-align: start;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.demand__posts .post__image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.demand__posts .post__description {
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  .demand__posts .post {
    width: 100%;
  }
}
